<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="renderer" content="webkit">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<title><%= title %></title>
<meta name="keywords" content="<%= keywords %>">
<meta name="description" content="<%= description %>" />

<link rel="icon" href="BASE_URL/assets/img/favicon.ico">
<!-- {replaceMetaLaui} -->
<link rel="stylesheet" href="BASE_URL/assets/css/common/index.css?<%= time %>">
<link rel="stylesheet" href="BASE_URL/static/iconfont/iconfont.css?<%= time %>">
<link rel="stylesheet" href="BASE_URL/assets/css/footer/footer.css?<%= time %>">

